extends layout

block content
  .row.banner
    .col-12
      h1 Customer#
      p &nbsp;Review the Prepress Status of Jobs by entering a reference number in the search box above.
  .row
    .col-12.col-md-8
      p Recent Jobs:
      .card
        .card-block
          h4
            a(href="/location") Job# 106555
            small &nbsp;
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-o
              i.fa.fa-star-o
            span.badge.badge-pill.badge-default.float-right 6 Items
          p.address Stage: Proof 1
          p.facilities Last Operator: RS
    .col-12.col-md-4
      p.lead Suite D is the gossiping sister you never had. Access job information from Prepress as it happens.