extends layout

block content
  +pageHeader(pageHeader.title, pageHeader.actioncall)
  //- item information
  .row.banner
    .col-12
      .card.banner-card
        .card-block
          span.h4 Item 1
          span &nbsp; description? file name?
          p.address Original file name
  .row
    //- notes card
    .col-12.col-md-6
      .card
        .card-block
          h4 Prepress Notes
            small &nbsp;
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-o
              i.fa.fa-star-o
            span.badge.badge-pill.badge-default.float-right 6 Items
          p.address Stage: Proof 1
          p.facilities Last Operator: RS
    //- preflight card
    .col-12.col-md-6
      .card
        .card-block
          h4 Preflight Information
            small &nbsp;
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-o
              i.fa.fa-star-o
            span.badge.badge-pill.badge-default.float-right 6 Items
          p.address Stage: Proof 1
          p.facilities Last Operator: RS
  .row
    //- setup card
    .col-12.col-md-6
      .card
        .card-block
          h4 Setup Checklist
            small &nbsp;
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-o
              i.fa.fa-star-o
            span.badge.badge-pill.badge-default.float-right 6 Items
          p.address Stage: Proof 1
          p.facilities Last Operator: RS
    //- launch summary card
    .col-12.col-md-6
      .card
        .card-block
          h4 Summary
            small &nbsp;
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-o
              i.fa.fa-star-o
            span.badge.badge-pill.badge-default.float-right 6 Items
          p.address Stage: Proof 1
          p.facilities Last Operator: RS